*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
} 
.career{
    background-size: cover;
    background-position: center;
    background-color: black;
    width: 100%;
    float: left;
    height: 600px;
}
h1{
    color:rgb(168, 32, 64);
    font-size: 80px;
    font-style: normal;
    margin-left: 3%;
    margin-top: 0;
    width: 20%;
}
.ok{
    color:rgb(168, 32, 64);
    font-size: 20px;
    font-style: normal;
    margin-left: 2%;
    margin-top: 15%; 
    float: left;
    text-align: justify;
    background-color: black;
}

.lalala{
    width: 50%;
    height: 100%;
    float: right;
}
img{
    width:100%;
    height:500px;
}
button{
    width: 150px;
    padding: 10px 0;
    margin-left: 2%;
    margin-top: 6%; 
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(168, 32, 64);
    background: transparent;
    color: rgb(168, 32, 64);
}
button a{
    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
}
span{
    background: aliceblue;
    height: 100%;
    width: 0;
    border-radius: 25px;
}
button:hover span{
    width: 100%;
}
