*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: #fff;
}
.header{
    width:50%;
    color:#009879;
    font-size: 30px;
    font-style: normal;
    margin-left: 5%;
}
.para{
    margin-left: 5%;
    margin-top: 4%;
    margin-right: 10%;
    text-align: justify;
}
.content-table{
    border-collapse: collapse;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0,);
}
.content-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #0a4b3e;

}
.content-table tbody tr:last-of-type{
    border-bottom:2px solid #009879 ;
}
button{
    width: 150px;
    padding: 10px 0;
    margin-left: 2%;
    margin-top: 6%; 
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009879;
    background: transparent;
    color: #009879;
}
button a{
    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
}
span{
    background: aliceblue;
    height: 100%;
    width: 0;
    border-radius: 25px;
}
button:hover span{
    width: 100%;
}